  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <th scope="row">1</th>
            <td><div></div></td>
            <td>Tony Hawk</td>
            <td>12</td>
            <td>Kickflip</td>
            <td><input type="checkbox" checked /></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><div></div></td>
            <td>Evelien Bouilliart</td>
            <td>10</td>
            <td>Heelflip</td>
            <td><input type="checkbox" checked /></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><div></div></td>
            <td>Danny Way</td>
            <td>8</td>
            <td>Ollie</td>
            <td><input type="checkbox" /></td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
      integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      const tbody = document.querySelector("#tbody");

      const getUsers = async () => {
        try {
          const { data } = await axios.get("/users/all");
          return data.users;
        } catch (error) {
          console.error(error);
        }
      };

      const checkboxListeners = async () => {
        const users = await getUsers();
        users.forEach((user) => {
          const myCheckbox = document.querySelector(
            `#${user.email.substring(0, user.email.indexOf("@"))}-checkbox`
          );
          myCheckbox.addEventListener("change", async (e) => {
            const isChecked = e.target.checked;
            try {
              console.log({
                email: user.email,
                state: isChecked,
              })
              await axios.put("/users/state/admin", {
                email: user.email,
                state: isChecked,
              });
              console.log(`Estado de ${user.nombre} actualizado: ${isChecked}`);
            } catch (error) {
              console.error(error);
            }
          });
        });
      };

      document.addEventListener("DOMContentLoaded", async () => {
        try {
          const users = await getUsers();
          tbody.innerHTML = "";
          users.forEach((user) => {
            tbody.innerHTML += `
              <tr>
              <th scope="row">${user.id}</th>
              <td><div style="background-image: url('../imgs/${
                user.foto
              }');"></div></td>
              <td>${user.nombre}</td>
              <td>${user.anos_experiencia}</td>
              <td>${user.especialidad}</td>
              <td><input id="${user.email.substring(0, user.email.indexOf("@"))}-checkbox" type="checkbox" ${user.estado ? "checked" : ""} /></td>
              </tr>`;
          });
          checkboxListeners();
        } catch (error) {
          console.error(error);
        }
      });
    </script>
  </body>
</html>
