<body>
  <h1>Skate Park</h1>

  <div class="py-4">
    <h2>Registro</h2>
    <hr class="w-50" />

    <form id="registerForm" enctype="multipart/form-data">
      <div class="form-group row w-50 m-auto">
        <div class="form-group col-12 col-sm-6">
          <label>Email</label>
          <input name="email" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
          <label>Nombre</label>
          <input name="name" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
          <label>Password</label>
          <input name="password" type="password" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
          <label>Repita la password</label>
          <input name="r_password" type="password" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
          <label>A침os de experiencia</label>
          <input name="anos_experiencia" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-6">
          <label>Especialidad</label>
          <input name="especialidad" class="form-control m-auto" />
        </div>
        <div class="form-group col-12 col-sm-12">
          <label>Foto de perfil</label>
          <input id="foto" name="foto" type="file" />
        </div>
      </div>
      <button class="btn btn-info mb-3">Registrarme.</button>
      <p><a href="/login"> Iniciar sesi칩n</a></p>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    const registerForm = document.querySelector("#registerForm");

    registerForm.addEventListener("submit", async (e) => {
      try {
        e.preventDefault();

        const email = e.target.email.value;
        const password = e.target.password.value;
        const r_password = e.target.r_password.value;
        const name = e.target.name.value;
        const anos_experiencia = e.target.anos_experiencia.value;
        const especialidad = e.target.especialidad.value;
        const foto = e.target.foto.value;

        const formData = new FormData(registerForm);

        if (
          !email.trim() ||
          !password.trim() ||
          !r_password.trim() ||
          !name.trim() ||
          !anos_experiencia.trim() ||
          !especialidad.trim() ||
          !foto
        ) {
          alert("Faltan datos por ingresar en el formulario!");
          throw { msg: "Faltan datos por ingresar en el formulario!" };
        }

        if (password != r_password) {
          alert("La contrase침a no coincide!");
          throw { msg: "La contrase침a no coincide!" };
        }



        const { data } = await axios.post("/users/register", formData, {
          headers: { "Content-Type": "multipart/form-data" },
        });
        console.log("Redirigiendo al login...");
        window.location.href = "/login";
      } catch (error) {

      }
    });
  </script>


</body>